@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables for the document */
:root {
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-reg: 400;
    --fw-head-bold: 600;
    --fw-bold: 700;

    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    --light: white;
    --shadow: -1px 2px 10px 1px #4242421f;

    --fs-body: 18px;
}


/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--ff-heading);
}

a {
    color: var(--very-dark-cyan);
    text-decoration: none;
}

h1 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: var(--fw-head-bold);
    margin-bottom: 30px;
}

p {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--very-dark-cyan);
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

/* custom reuseable styling */
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 30px;
}

.btn {
    background-color: var(--pink);
    box-shadow: var(--shadow);
    padding: 5px 23px;
    border-radius: 50px;
    border: none;
    font-weight: var(--fw-bold);
    font-size: 11px;
    color: var(--light);
    transition: 0.3s;
}

.btn-hero:hover,
.btn:hover {
    transition: transform 2ms ease-in-out;
    box-shadow: var(--shadow);
    opacity: 0.7;
}

/* buttons */
.btn-nav {
    background-color: var(--light);
    color: var(--very-dark-cyan);
}

.btn-nav:hover {
    color: var(--grayish-blue);
}

@media screen and (min-width: 555px) {
    .btn-nav {
        background-color: var(--light);
        font-size: 9px;
        padding: 5px 30px;
    }
}

.final .btn-hero {
    padding: 13px 47px;
    font-size: 10px;
}

.btn-hero {
    padding: 13px 60px;
    margin-bottom: 50px;
    font-size: 12px;
}



.landing-page {
    width: 100%;
    height: 100%;
    background-size: 120%;
    background-image: url(/huddle/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--very-pale-cyan);
    display: block;
    position: center top;
}

@media screen and (min-width: 555px) {
    .landing-page {
        background-size: cover;
        background-image: url(/huddle/images/bg-hero-desktop.svg);
        background-position: center;
    }    
}

.landing-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 15px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
    margin-bottom: 30px;
    top: 0;
}

.nav-bar .logo {
    width: 110px;
}

@media screen and (min-width: 555px) {
    .nav-bar {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: 100%;
    width: 100%;
}

.hero-txt p {
    font-size: 16.8px;
    margin-bottom: 35px;
}

.hero-img {
    max-width: 100%;
    object-fit: contain;
    margin-top: 60px;
    padding-bottom: 30px;
}

@media screen and (min-width: 555px) {
    .hero-section {
        flex-direction: row;
        text-align: left;
        margin-top: 30px;
    }

    .hero-img {
        flex: 3;
        padding-right: 20px;
    }

    .hero-txt {
        flex: 2;
        padding: 0 20px;
    }

    .hero-txt p {
        font-size: 9px;
        margin-bottom: 20px;
        /* padding-top: 0; */
    }

    .hero-txt h1 {
        font-size: 20px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    .hero-section .btn.btn-hero {
        font-size: 8px;
        padding: 10px 30px;
        
    }
}

.cards-section {
    padding: 60px 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 45px 30px;
    box-shadow: var(--shadow);
}

.card-txt h3 {
    margin-top: 40px;
    font-size: 20px;
}

.card-txt p {
    margin-top: 20px;
    font-weight: var(--fs-body);
    font-size: 14.365px;
    color: var(--grayish-blue);
    line-height: 20px;
    padding-bottom: 5px;
}

@media screen and (min-width: 555px) {
    .cards-section{
        padding-top: 100px;
    }

    .card {
        flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #card2{
        flex-direction: row-reverse;
    }

    .card-txt {
        padding-left: 40px;
        padding-right: 90px;
        margin-top: 0;
    }

    #card2 .card-txt {
        padding-left: 70px;
        padding-right: 2px;
    }

    .card-txt h3 {
        font-size: 15px;
        margin-top: 0;
    }

    .card-txt p {
        font-size: 10px;
        margin-top: 8px;
        line-height: 15px;
        padding-bottom: 0;
    }

    .card-img {
        width: 100%;
    }
}


.final-section {
    padding: 50px 0;
}

.final-section .container {
    position: absolute;
    margin-top: -55px;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding-top: 20px;
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--light);
}

.final h2 {
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 20px;
}

@media screen and (min-width: 555px) {
    .final {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        width: 60%;
    }

    .final h2 {
        font-size: 18px;
    }

    .final .btn-hero {
        padding: 15px 60px;
        font-size: 10px;
        margin-top: 0;
        display: inline-block;
        margin-bottom: 25px;
    }
}

footer {
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-cyan);
    padding: 100px 0 30px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first-col,
.first-col li{
    margin-top: 25px;
}

.first-col {
    margin-bottom: 40px;
}

.first-col .logo {
    width: 200px;
}

.phone,
.email, 
.location {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.phone img,
.email img,
.location img {
    width: 15px;
    margin: 5px 10px 0 0;
}

.phone p,
.email p, 
.location p {
    flex: 1;
    margin-left: 20px;
    font-size: 14.5px;
    font-weight: var(--fw-reg);
}

.third-col li,
.second-col li {
    margin-top: 20px;
}

.third-col a,
.second-col a {
    color: var(--very-pale-cyan);
}

.third-col {
    margin-bottom: 20px;
}

.social-icons,
.col-socials {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
}

.copyright small {
    font-size: 10px;
}

.fa-stack.small {
    color: var(--very-pale-cyan);
    font-size: 15px;
}

@media screen and (min-width: 555px) {
    .details {
        flex-direction: row;
    }
    
    .second-col,
    .third-col,
    .social-icons {
        flex: 1;
        margin-left: 40px;
        margin-top: 60px;
    }

    .first-col {
        flex: 2.5;
        margin: 0;
    }

    .first-col .logo {
        width: 62%
    }

    .location p,
    .phone p,
    .email p {
        font-size: 60%;
        margin-left: 5px;
        padding-left: 0;
    }

    
    .location img,
    .phone img,
    .email img {
        width: 4%;
        margin-top: 3px;
    }

    .second-col,
    .third-col {
        font-size: 60%;
    }

    .copyright {
        margin-top: 30px;
        text-align: right;
    }

    .copyright small {
        font-size: 30%
    }

    .fa-stack.small {
        color: var(--very-pale-cyan);
        font-size: 40%;
        margin-top: 15px;
    }

}