@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables for the document */
:root {
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-reg: 400;
    --fw-h-bold: 600;
    --fw-bold: 700;

    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    --fs-body: 18px;
}


/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
    color: var(--very-dark-cyan);
}

.landing {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--very-pale-cyan);
    width: 100%;
}

.logo {

}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.hero-section div {
    flex: 1;
}


.col-2 img {
    
    width:50%;
    height:100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
}

/* assign 50% to each of the child divs */
.container div {
    flex: 1;
}