@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables for the document */
:root {
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-reg: 400;
    --fw-head-bold: 600;
    --fw-bold: 700;

    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    --light: white;
    --shadow: -2px 2px 20px 5px #0000001f;

    --fs-body: 18px;
}


/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--ff-heading);
}

a {
    color: var(--very-dark-cyan);
    text-decoration: none;
}

h1 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: var(--fw-head-bold);
    margin-bottom: 30px;
}

p {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--very-dark-cyan);
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}


/* custom reuseable styling */
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 30px;
}

.btn {
    background-color: var(--pink);
    box-shadow: var(--shadow);
    padding: 5px 23px;
    border-radius: 50px;
    border: none;
    font-weight: var(--fw-bold);
    font-size: 11px;
    color: var(--light)
}


/* buttons */
.btn-nav {
    background-color: var(--light);
    color: var(--very-dark-cyan);
}

.btn-final {
    padding: 13px 30px;
}

.btn-hero {
    padding: 13px 60px;
    margin-bottom: 50px;
    font-size: 12px;
}



.landing-page {
    width: 100%;
    height: 100%;
    background-size: 120%;
    background-image: url(/huddle/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--very-pale-cyan);
    display: block;
    position: center top;
}

.landing-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 15px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
    margin-bottom: 30px;
    top: 0;
}

.nav-bar .logo {
    width: 110px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: 100%;
    width: 100%;
}

.hero-txt p {
    font-size: 16.8px;
    margin-bottom: 35px;
}

.hero-img {
    max-width: 100%;
    object-fit: contain;
    margin-top: 60px;
    padding-bottom: 30px;
}

.cards-section {
    padding: 60px 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 45px 30px;
    box-shadow: var(--shadow);
}

.card-txt h3 {
    margin-top: 40px;
    font-size: 20px;
}

.card-txt p {
    margin-top: 20px;
    font-weight: var(--fs-body);
    font-size: 14.365px;
    color: var(--grayish-blue);
    line-height: 20px;
    padding-bottom: 5px;
}

.final-section {
    padding: 50px 0;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding-top: 20px;
    margin: auto;
    height: 100%;
    width: 100%;
}

.final h2 {
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 20px;
}

footer {
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-cyan);
    padding: 100px 0 30px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first-col,
.first-col li{
    margin-top: 25px;
}

.first-col {
    margin-bottom: 40px;
}


.first-col .logo {
    width: 200px;
}

.phone,
.email, 
.location {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.phone img,
.email img,
.location img {
    width: 15px;
    margin: 5px 10px 0 0;
}

.phone p,
.email p, 
.location p {
    flex: 1;
    margin-left: 20px;
    font-size: 14.5px;
    font-weight: var(--fw-reg);
}

.third-col li,
.second-col li {
    margin-top: 20px;
}

.third-col a,
.second-col a {
    color: var(--very-pale-cyan);
}

.third-col {
    margin-bottom: 20px;
}

.second-col {
    margin-top: 20px;
}

.col-socials {
    margin-top: 50px;
}

.fa-stack-2x {
    color: transparent;
    /* -webkit-text-stroke: .2px var(--very-pale-cyan); */
    /* -webkit-text-stroke: transparent; */
    -webkit-text-fill-color: var(--very-pale-cyan);
    ;
    border-radius: 50%;
}

.fa-stack.small {
    color: var(--very-pale-cyan);
    border: .2px;
}

